services:
  backend:
    build:
      context: .
      dockerfile: ./backend/Dockerfile
      target: development
    ports:
      - "3001:3001"
    env_file:
      - ./backend/.env
    environment:
      NODE_ENV: development
      PORT: 3001
      DATABASE_URL: postgresql://misodope@host.docker.internal:5432/misoauto?schema=public
    extra_hosts:
      - "host.docker.internal:host-gateway"
    volumes:
      - ./backend/src:/app/backend/src
    command: sh -c "npx prisma generate --schema=src/database/schema.prisma && npx ts-node -r tsconfig-paths/register src/main.ts"

  frontend:
    build:
      context: .
      dockerfile: ./frontend/Dockerfile
      target: development
    ports:
      - "4000:3000"
    env_file:
      - ./frontend/.env
    environment:
      NODE_ENV: development
      PORT: 3000
    volumes:
      - ./frontend/src:/app/frontend/src
      - ./frontend/public:/app/frontend/public
    command: npx next dev --turbopack -p 3000
